*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  font-family: Raleway, sans-serif;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
}

img::selection {
  background: transparent;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}