$login: (
        background: (
                width: 100%,
                height: 100%,
                size: 200%
        ),
        card: (
                min-width: 0,
                border-radius: .6rem,
                width: 300px,
                mobile: (
                        min-width: 80%,
                        width: 80%
                ),
                body: (
                        p: 1.5rem
                )
        ),
        image: (
                frame-height: 130px,
                width: 100px
        ),
        header: (
                font-size: 2rem,
                m: 0,
                p: 0
        ),
        form: (
                m-t: 3rem,
                width: 100%,
                error:(
                        font-size: 1rem,
                        m-b: 1rem
                )
        ),
        button: (
                width: 100%,
                m-t: 1rem,
                m-b: 1rem,
                p: .6rem,
                font-size: 1rem,
                border-radius: .35rem
        )
);

$form: (
        input-group: (
                width: 100%,
                m-b: 1.5rem,
                form-control: (
                        width: 1%,
                        font-size: 1rem,
                        padding: .6rem,
                        border-radius: .2rem,
                        outline-width: 2px,
                        error: (
                                frame-width: 40px,
                                frame-height: 100%,
                                frame-left: calc(100% - 40px),
                                image-width: 24px,
                                image-height: 24px,
                                font-size: 1rem
                        )
                )
        )
);

$tooltip: (
        offset: calc(100% + 15px),
        container: (
                width: 100%,
                height: 100%
        ),
        text: (
                min-width: 120px,
                p-tb: .4rem,
                p-lr: 0,
                border-radius: .3rem
        ),
        arrow-size: 5px
);

$app: (
        header: (
                height: 100%,
                mobile: (
                        width: 100%,
                        b: 0,
                        l: 0
                )
        ),
        main: (
                width: 100%,
                height: 100%
        )
);

$page: (
        header: (
                width: 100%,
                height: 80px,
                p-l: 2rem,
                p-r: 2rem
        )
);