@use "../../stylesheet/00_settings/color" as *;
@use "../../stylesheet/00_settings/util" as *;

.form {

  &__input {

    &__error {
      outline: 2px solid map-deep-get($material-color, red, red-500);

      &:focus {
        outline: 2px solid map-deep-get($material-color, red, red-500);
      }

      &__image__frame {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 40px;
        height: 100%;
        left: calc(100% - 40px);
      }

      &__image {
        width: 24px;
        height: 24px;
      }
    }

  }

}