@use "../stylesheet/00_settings/util" as *;
@use "../stylesheet/01_tools/mixin" as mixins;
@use "../stylesheet/01_tools/const" as const;

#root {
  display: flex;
}

header {
  display: flex;
  width: fit-content;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}