@use "../stylesheet/00_settings/color" as *;
@use "../stylesheet/00_settings/util" as *;
@use "../stylesheet/00_settings/extra" as *;
@use "../stylesheet/01_tools/mixin" as mixins;
@use "../stylesheet/01_tools/const" as const;

.login {

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, map-deep-get($material-color, red, red-500), map-get($theme-color, primary-700), map-get($theme-color, secondary-500));
    background-size: 200% 200%;
    animation: gradient 10s ease infinite;
  }

  &__header {
    font-size: 2rem;
    font-family: Comfortaa, sans-serif;
    color: map-deep-get($material-color, gray, gray-800);
    margin: 0;
    padding: 0;
    font-weight: 500;
    text-align: center;
  }

  &__button {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: map-get($theme-color, primary-500);
    border: none;
    padding: .6rem;
    font-size: 1rem;
    border-radius: .35rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border-radius: .6rem;
  box-shadow: $shadow;
  z-index: 1000;
  width: 80%;
  min-width: 80%;
  align-items: stretch;
  padding: 1.5rem;

  @include mixins.media-query(map-get(const.$MEDIA-QUERY-TYPE, MIN-WIDTH), small) {
    width: 300px;
    min-width: 0;
  }

  &__frame {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.image {
  width: 100px;

  &__frame {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
  }
}

.form {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__error {
    color: map-deep-get($material-color, red, red-500);
    font-size: 1rem;
    margin: 0 0 1rem;
    text-align: center;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}